*{
    margin:0 auto;
    padding:0;
    box-sizing:border-box;
}
body{
    min-height:100vh;
    background-color:#000000;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0b1522;
}

span{
    position:absolute;
    pointer-event:none;
    transform:translate(-50%, -50%);
    background:url(heart.png);
    width:100px;
    height:100px;
    background-size:cover;
    animation: moveShape 2s linear infinite;
}
@keyframe moveShape{
    0%{
        transform:translate(-50%, -50%);
        opacity:1;
        filter:hue-rotate(0deg);
    }
    100%{
        transform:translate(-50%, -1000%);
        opacity:0;
        filter:hue-rotate(720deg);
    }
}
.heart{   
    width:100px;
    height:100px;
    position:relative;
    background:#F7F7F7;
    transform:rotate(-45deg);
    box-shadow:-10px 10px 60px #F7F7F7;
    animation: heart 2s linear infinite;
} 
@keyframe heart{
    0%{
        transform:scale(1.1);  
        filter:hue-rotate(0deg);
    }
    20%{
        transform:scale(1.2);  
        filter:hue-rotate(0deg);
    }
    40%{
        transform:scale(1.25);  
        filter:hue-rotate(0deg);
    }
    60%{
        transform:scale(1.2);  
        filter:hue-rotate(0deg);
    }
    80%{
        transform:scale(1);  
    }
    100%{
        transform:scale(0.8);  
        filter:hue-rotate(720deg);
    }
}
.heart:before{
    position:absolute;
    content:'';
    width:100px;
    height:100px;
    top:-50%;
    border-radius:50px;
    background:#F7F7F7;
    box-shadow:-10px -10px 60px #F7F7F7;
}
.heart:after{
    content:'';
    position:absolute;
    width:100px;
    height:100px;
    right:-50%;
    border-radius:50px;
    background:#F7F7F7;
    box-shadow:-10px -10px 60px #F7F7F7;
}